{{ template "partials/disqus.html" . }}

<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <a class="footer-item" href="mailto:harpinderjots@gmail.com">Email</a>
            <a class="footer-item" href="https://x.com/singhhcoder" target="_blank">Twitter</a>
            <a class="footer-item" href="https://www.linkedin.com/in/singhcoder/" target="_blank">LinkedIn</a>
            <a class="footer-item" href="https://qordinate.ai" target="_blank">Qordinate</a>
        </div>
        <div class="footer-row">
            <span class="footer-item">© 2025 Harpinder Jot Singh</span>
        </div>
    </div>
</footer>
